<li class="{% if children %}cat-item has-children{% endif %}">
    <a href="{{ path('category_category', {slug: category.slug}) }}">
        {{ category.getDisplayName }}
    </a>
    {% if children %}
        <ul class="sub-menu">
            {{ children | raw }}
        </ul>
    {% endif %}
</li>